/*登录页面的自定义样式*/
.login-form {
    margin-top: 70px;
}

.login-error {
    color: red;
}

.valid-img {
    height: 35px;
    width: 220px;
}

/*注册页面的自定义样式*/
.reg-form {
    margin-top: 70px;
}

#avatar-img {
    width: 80px;
    height: 80px;
}

/*博客主页面样式*/
#author_img {
    width: 80px;
    height: 80px;
}

.article_footer {
    margin-top: 10px;
}

/*个人主页样式*/
.header {
    height: 100px;
    width: 100%;
    color: white;
    background-color: #0066cc;
}

.header p {
    font-size: 25px;
    padding: 25px 0;
    font-weight: bold;
}






