{% extends 'base.html' %}
{% block page-main %}
    <div class="article-detail">
        <h1>{{ article.title }}</h1>
        <span>{{ article.articledetail.content|safe }}</span>
    </div>
    <div>


        <div id="div_digg">
            <div class="diggit action">
                <span class="diggnum" id="digg_count">{{ article.up_count }}</span>
            </div>
            <div class="buryit action">
                <span class="burynum" id="bury_count">{{ article.down_count }}</span>
            </div>
            <div class="clear"></div>
            <div class="diggword" id="digg_tips" style="color: red;"></div>
        </div>

        <script>
            $("#div_digg .action").click(function () {
                if('{{ request.user.username }}'){
                    var is_up = $(this).hasClass("diggit"); //点击自己，如果属性有diggit返回True,赞成反对
                var article_id = '{{ article.pk }}';
                $.ajax({   // 向后端发送数据
                    url: "/blog/up_down",
                    type: 'post',
                    data: {
                        is_up: is_up,
                        article_id: article_id
                    },
                    success: function (data) {  //接收后端数据
                        console.log(data);
                        if (data.state) {  // 如果得到后端传来的添加成功状态，在前端代码处 +1
                            if (is_up) {
                                var val = $("#digg_count").text();
                                val = parseInt(val) + 1;
                                $("#digg_count").text(val);
                            } else {
                                var val = $("#bury_count").text();
                                val = parseInt(val) + 1;
                                $("#bury_count").text(val);
                            }
                        }
                        else {
                            if (data.first_state) {
                                $("#digg_tips").html("您已经赞成过了")
                                setTimeout(function () {
                                    $("#digg_tips").html("")
                                }, 1000)

                            }
                            else {
                                $("#digg_tips").html("您已经反对过了")
                                setTimeout(function () {
                                    $("#digg_tips").html("")
                                }, 1000)
                            }

                        }
                    }
                })
                }
                else {
                    location.href="/login"
                }
            })
        </script>
    </div>
{% endblock %}
