<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎注册</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/mystyle.css">
</head>
<body>
<div class="container">
    <div class='row'>
        <div class="col-md-6 col-md-offset-3">
            <form action="/register/" method="post" class="form-horizontal reg-form" enctype="multipart/form-data"
                  novalidate>
                {% csrf_token %}

                <div class="form-group">
                    <label for="{{ form_obj.username.id_for_label }}"
                           class="col-sm-2 control-label">{{ form_obj.username.label }}</label>
                    <div class="col-sm-10">
                        {{ form_obj.username }}{{ form_obj.username.errors.0 }}
                        <span class="help-block"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="{{ form_obj.password.id_for_label }}"
                           class="col-sm-2 control-label">{{ form_obj.password.label }}</label>
                    <div class="col-sm-10">
                        {{ form_obj.password }}{{ form_obj.password.errors.0 }}
                        <span class="help-block"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="{{ form_obj.re_password.id_for_label }}"
                           class="col-sm-2 control-label">{{ form_obj.re_password.label }}</label>
                    <div class="col-sm-10">
                        {{ form_obj.re_password }}{{ form_obj.re_password.errors.0 }}
                        <span class="help-block"></span>
                    </div>

                </div>

                <div class="form-group">
                    <label for="{{ form_obj.email.id_for_label }}"
                           class="col-sm-2 control-label">{{ form_obj.email.label }}</label>
                    <div class="col-sm-10">
                        {{ form_obj.email }}{{ form_obj.email.errors.0 }}
                        <span class="help-block"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">头像</label>
                    <div class="col-sm-10">
                        <label for="id_avatar"><img id="avatar-img" src="/static/img/hmbb.png" alt=""></label>
                        <input type="file" name="avatar" id="id_avatar" style="display: None">
                        <span class="help-block"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 col-md-offset-7">
                        <button type="submit" class="btn btn-success">注册</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/static/jquery-3.3.1.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script>
    // 根据头像的id 找到input并绑定change事件
    $("#id_avatar").change(function () {
        //创建一个读取文件的对象
        var fileReader = new FileReader();
        // 选中当前的图片文件
        console.log(this.files[0]);
        // 读取选中的文件
        fileReader.readAsDataURL(this.files[0]); //读取文件是需要时间的
        // 等待上一步读取完文件之后把图片加载到img标签中
        fileReader.onload = function () {
            $("#avatar-img").attr("src", fileReader.result);
        };
    })
</script>
</body>
</html>